<div class="contact-info-container body-S">
    <div class="company">
        <app-logo class="logo"></app-logo>
        <p>Фабрика G&G. {{ currentYear }}</p>
        <p>© Все права защищены</p>
    </div>
    <ul class="contact-info">
        <li class="phoneNumber h4">{{ phoneNumber }}</li>
        <li>{{ metroStation }}</li>
        <li>{{ address }}</li>
        <li>{{ supportEmail }}</li>
    </ul>
</div>
<ul
    class="catalog body-S"
    *ngrxLet="categories$ as categories"
>
    <li *ngFor="let category of categories">
        <a
            [routerLink]="'catalog/' + category"
            class="link"
            >{{ category | translate | ngrxPush }}</a
        >
    </li>
</ul>
<div class="navigation-container body-S">
    <ul class="navigation">
        <li>
            <a
                routerLink="/delivery"
                class="link"
                >Доставка</a
            >
        </li>
        <li>
            <a
                routerLink="/articles"
                class="link"
                >Статьи</a
            >
        </li>
        <li>
            <a
                routerLink="/about-us"
                class="link"
                >О нас</a
            >
        </li>
        <li>
            <a
                routerLink="/"
                class="link privacy-policy"
                >Политика конфиденциальности</a
            >
        </li>
    </ul>
    <ul class="icons-container">
        <li>
            <a [href]="vk"><app-icon-button [icon]="'vk'"></app-icon-button></a>
        </li>
        <li>
            <a [href]="pinterest"
                ><app-icon-button [icon]="'pint'"></app-icon-button
            ></a>
        </li>
        <li>
            <a [href]="tg"><app-icon-button [icon]="'tg'"></app-icon-button></a>
        </li>
    </ul>
</div>
