@use 'colors';

:host {
    display: flex;
    width: 100%;
    background-color: colors.$HintOfRed;
    padding: 24px 30px 24px 30px;
}

.file-info {
    display: flex;
    flex-direction: column;
    gap: 9px;

    .wrapper {
        display: flex;
        gap: 15px;
    }
}

.button-content {
    display: flex;
    gap: 8px;
    color: colors.$Rust;
}
