@import '../../../../shared/scss/colors.scss';
@import '../../../../shared/scss/transitions.scss';

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-font {
    font-size: 13px;
}

.XXS {
    width: 100px;
    height: 27px;
}

.XS {
    width: 120px;
    height: 40px;
}

.S {
    width: 150px;
    height: 50px;
}

.M {
    width: 220px;
    height: 60px;
}

.L {
    width: 320px;
    height: 60px;
}

.XL {
    width: 400px;
    height: 60px;
}

.XXL {
    width: 480px;
    height: 60px;
}

.BG-color {
    background-color: $MediumWood;
    transition: background-color $bg-color-trans;
}

.BG-color:hover {
    transition: background-color $bg-color-trans;
    background-color: $Rope;
}

.BG-color:disabled {
    opacity: 0.5;
}

.no-BG {
    transition: text-decoration $bg-color-trans;
}

.no-BG:hover {
    transition: text-decoration $bg-color-trans;
    text-decoration: underline;
}

.top-piece-of-wood {
    position: relative;
    top: 2px;
    left: 24px;
}

.down-piece-of-wood {
    position: relative;
    top: -10px;
    left: 17px;
}
