<div class="container">
    <nav>
        <ul class="navigation body-M white-font">
            <li class="logo">
                <app-logo [routerLink]="['']"></app-logo>
            </li>
            <li>
                <a
                    [routerLink]="['/delivery']"
                    routerLinkActive="router-link-active"
                    >Доставка</a
                >
            </li>
            <li>
                <a
                    [routerLink]="['/articles']"
                    routerLinkActive="router-link-active"
                    >Статьи</a
                >
            </li>
            <li>
                <a
                    [routerLink]="['/about-us']"
                    routerLinkActive="router-link-active"
                    >О нас</a
                >
            </li>
            <li>
                <a
                    [routerLink]="['/contacts']"
                    routerLinkActive="router-link-active"
                    >Контакты</a
                >
            </li>
        </ul>
    </nav>
    <address class="contact-info">
        <p class="frangipani-font body-M">{{ suppurtEmail }}</p>
        <p class="frangipani-font h5">{{ phoneNumber }}</p>
    </address>
    <app-button
        [pieceOfWood]="'top&down'"
        [haveBackground]="true"
        [size]="'XS'"
        >каталог</app-button
    >
</div>
