@import '../../shared/scss/colors.scss';
@import '../../shared/scss/transitions.scss';

:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120px;
    min-width: 1600px;
    background-color: $Kilamanjaro;
}

.white-font a {
    color: $White;
}

.router-link-active {
    border-bottom: 1.5px solid $Frangipani;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-right: 102px;
}

.logo {
    margin-right: 98px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 67px;
    margin-right: 66px;
}

.navigation a:hover {
    transition: color $bg-color-trans;
    color: $Frangipani;
}
