@import '../../shared/scss/colors.scss';
@import '../../shared/scss/transitions.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    border: 1px solid $Gainsboro;
    transition: border-color $bg-color-trans;
}

.container:hover {
    transition: border-color $bg-color-trans;
    border-color: $Tide;
}

.img {
    position: relative;
    left: -1px;
    top: -1px;
    width: 400px;
    height: 180px;
}

.info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    flex-grow: 1;
}

.content {
    opacity: 0.6;
    margin-top: 15px;
}

.date {
    opacity: 0.6;
}

.wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
