<h1 class="h1">Витрина товаров</h1>
<ng-container
    *ngrxLet="{
        products: filteredProducts$,
        categories: categories$,
    } as productsData"
>
    <div class="categories">
        <button
            class="button-font category"
            *ngFor="let category of productsData.categories | ngrxPush"
            [class]="category === selectedCategory ? 'selected-category' : ''"
            (click)="filterProducts(category)"
        >
            {{ category | translate | ngrxPush }}
        </button>
    </div>
    <div class="product-card-container">
        <app-product-card
            class="broad"
            *ngFor="let product of productsData.products | ngrxPush"
            [name]="product.name"
            [price]="product.price"
            [imgs]="product.photos"
            [category]="selectedCategory"
        ></app-product-card>
    </div>
</ng-container>
<button
    class="button-font button"
    [routerLink]="['/catalog', selectedCategory]"
>
    показать все
</button>
