@import '../../shared/scss/colors.scss';
@import '../../shared/scss/transitions.scss';

:host {
    display: flex;
    width: 160px;
    height: 60px;
    border: 1px solid $Gainsboro;
}

.number {
    justify-self: center;
    margin: auto;
    display: flex;
    align-items: center;

    height: 100%;
}

button {
    transition: color $bg-color-trans;
}

button:hover {
    color: $Rust;
    transition: color $bg-color-trans;
}

.minus {
    padding-bottom: 3px;
    padding-left: 24px;
}

.plus {
    padding-right: 24px;
}
