@import '../../shared/scss/colors.scss';

:host {
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: $HintOfRed;
    background-image: url(../../../assets/img/vector-woodcut.png);
}

.image {
    background-image: url(../../../assets/img/door-img_1.jpg);
    width: 640px;
    height: 600px;
}

.form {
    padding: 90px 70px 0 70px;
    width: 640px;
}

.content {
    width: 420px;
    margin-top: 30px;
}

.inputs {
    display: flex;
    margin-top: 60px;
}

.button {
    display: block;
    margin-top: 20px;
}

.vector-woodcut-img {
    position: absolute;
    top: 0;
    left: 350px;
    width: 470px;
    height: 600px;
    // background-image: url(../../../assets/img/vector-woodcut.png);
    background-blend-mode: overlay;
    // background-position: center;
    // background-size: cover;
    // background-clip: content-box;
}
