@import '../../shared/scss/colors.scss';

:host {
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: $HintOfRed;
    background-image: url(../../../assets/img/vector-woodcut.png);
}

.image {
    background-image: url(../../../assets/img/door-img_1.jpg);
    width: 640px;
    height: 600px;
}

.form-container {
    padding: 90px 70px 0 70px;
    width: 640px;
}

.content {
    width: 420px;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.form-inputs-wrapper {
    display: flex;
    gap: 20px;
}

.form-input-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    background-color: $White;
    padding-left: 23px;
}

.form-input-wrapper-invalid {
    border: 1px solid $Rust;

    .small {
        color: $Rust;
    }

    .form-input::placeholder {
        color: $Rust;
        font-size: 15px;
        font-weight: 700;
        line-height: 140%;
    }
}

.form-input {
    border: none;
    width: calc(100% - 60px);
}

.form-input::placeholder {
    color: $Tide;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.2px;
}

.tooltip {
    position: absolute;
    top: calc(50% - 10px);
    right: 20px;
}

.button {
    display: block;
    margin-top: 20px;
}

.vector-woodcut-img {
    position: absolute;
    top: 0;
    left: 350px;
    width: 470px;
    height: 600px;
    background-blend-mode: overlay;
}
