<div class="image"></div>
<div class="form-container">
    <form class="form">
        <header>
            <h1 class="h1">Нужна помощь с выбором?</h1>
        </header>
        <main class="content h6">
            <h6>
                Наши специалисты с радостью помогут Вам, оставьте свой номер
                телефона!
            </h6>
        </main>
        <div class="inputs">
            <div>
                <input
                    type="text"
                    name="name"
                />
            </div>
            <div>
                <input
                    type="text"
                    name="number"
                />
            </div>
        </div>
        <app-button
            class="button"
            [haveBackground]="true"
            [size]="'L'"
            >Связаться с нами</app-button
        >
    </form>
</div>
