@use '../colors/colors.scss';

.button-font-black {
    color: $Kilamanjaro;
    font-family: $Gilroy;
    font-size: 15px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 6%;
    text-transform: uppercase;
}

.button-font-white {
    color: $White;
    font-family: $Gilroy;
    font-size: 15px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 6%;
    text-transform: uppercase;
}

.button-default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 36px 15px 36px;
    background-color: $MediumWood;
}

.button-default:hover {
    background-color: $Rope;
}

.button-disabled {
    background-color: rgb(169, 132, 92);
    opacity: 0.5;
}
// это все надо в компонент кнопки, а отсюда убрать
