@import '../../shared/scss/colors.scss';

:host {
    display: flex;
    flex-direction: column;
    margin: 50px 0 90px 0;
}

.main-container {
    display: flex;
    gap: 40px;
    margin: 17px 0 40px 0;

    .contacts-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .address-container {
            flex-grow: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 38px;
            width: 510px;
            background-color: $HintOfRed;
            padding: 0 70px 0 70px;
            background-image: url(../../../assets/img/vector-woodcut.png);
            background-position: bottom 205px right 190px;
            background-repeat: no-repeat;

            section {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            ul {
                position: relative;
                display: flex;

                li:nth-child(1) {
                    z-index: 3;
                }

                li:nth-child(2) {
                    position: relative;
                    left: -7px;
                    z-index: 2;
                }

                li:nth-child(3) {
                    position: relative;
                    left: -14px;
                    z-index: 1;
                }
            }
        }
    }

    .map {
        width: 730px;
        height: 640px;
    }
}
