@import '../../shared/scss/colors.scss';

:host {
    display: flex;
    flex-direction: column;
    padding: 50px 160px 90px 160px;
    width: 100vw;
}

.text-h1 {
    margin: 17px 0 40px 0;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    width: 100%;
    margin-bottom: 120px;

    .filter {
        display: block;
        margin-top: 18px;
    }

    .wrapper-product-card-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 0 auto;
        justify-content: center;

        .product-card-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            height: 100%;
            width: 100%;
        }

        .pagination {
            margin: 50px 0 70px 0;
        }

        .rectangle {
            background-color: $Gainsboro;
            width: 100%;
            height: 1px;
            margin-bottom: 70px;
        }

        .text {
            width: 950px;

            h3 {
                margin-bottom: 17px;
            }
        }
    }
}

.contact-us-card {
    align-self: center;
    margin: 0 auto 0 auto;
    width: 1280px;
}
