@use 'colors';

:host {
    display: flex;
}

.title {
    margin-bottom: 15px;
}

.characteristic {
    display: flex;
    gap: 20px;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid colors.$Gainsboro;

    p {
        width: 100%;
    }
}

.body-L {
    line-height: 120%;
}
