<div *ngIf="pieceOfWoodCount > 0">
    <ng-container *ngTemplateOutlet="topPieceOfWood"></ng-container>
</div>
<button
    [class.BG-color]="haveBackground"
    [class]="haveBackground ? 'white-font' : 'rust-font'"
    [ngClass]="size"
    class="button-font"
    appElemHover
>
    <ng-content></ng-content>
</button>
<div *ngIf="pieceOfWoodCount > 1">
    <ng-container *ngTemplateOutlet="downPieceOfWood"></ng-container>
</div>

<ng-template #topPieceOfWood
    ><svg
        #topPieceOfWoodSvg
        class="top-piece-of-wood"
        width="85.000000"
        height="3.000000"
        viewBox="0 0 85 3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <path
            d="M81.38 0.89C54.39 3.3 27.16 1.25 0 1.85C27.85 2.34 55.74 4.03 85 2.07L84.75 0C83.6 0.02 82.5 0.27 81.38 0.89Z"
            [style.fill]="(isHovered$ | async) ? rope : mediumWood"
            fill-opacity="1.000000"
            fill-rule="nonzero"
        />
    </svg>
</ng-template>

<ng-template #downPieceOfWood
    ><svg
        #downPieceOfWoodSvg
        class="down-piece-of-wood"
        width="65.000000"
        height="2.000000"
        viewBox="0 0 65 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <path
            d="M65 0.04L64.97 1.11C60.37 0.95 55.77 0.79 51.17 0.62L50.65 0.61L49.48 1.02C48.95 1.21 48.55 1.35 48.5 1.37L26.8 2L21.06 1.04L0 1.01C0 0.86 0 0.71 0 0.57L0 0.42L0 0.11L23.68 0C23.69 -0.01 23.7 0 23.71 0L28.29 0.19L65 0.04Z"
            [style.fill]="(isHovered$ | async) ? rope : mediumWood"
            fill-opacity="1.000000"
            fill-rule="nonzero"
        />
    </svg>
</ng-template>
