<h1 class="h1">Витрина товаров</h1>
<ng-container *ngrxLet="products$ as products">
    <div class="categories">
        <button
            class="button-font category"
            *ngFor="let category of products.categories"
            [class]="category === selectedCategory ? 'selected-category' : ''"
            (click)="filter(category)"
        >
            {{ category | translate | ngrxPush }}
        </button>
    </div>
    <div class="product-card-container">
        <!-- заменить productsThatNeedRemove$ | ngrxPush на products.relevantValue -->
        <app-product-card
            class="broad"
            *ngFor="let product of productsThatNeedRemove$ | ngrxPush"
            [name]="product.name"
            [price]="product.price"
            [imgs]="product.photos"
        ></app-product-card>
    </div>
</ng-container>
<button
    class="button-font button"
    [routerLink]="['/catalog', selectedCategory]"
>
    показать все
</button>
