<header class="header">
    <div class="header-image"></div>
    <div class="woodcut-container">
        <div class="woodcut"></div>
        <div class="woodcut-back"></div>
        <tui-carousel
            #carousel
            class="carousel-container"
        >
            <ng-container
                *ngFor="let sliderData of slidersData$ | async; index as i"
            >
                <div
                    *tuiItem
                    class="carousel-item"
                >
                    <h3 class="h3 white-font">
                        {{ sliderData.header }}
                    </h3>
                    <h5 class="h5 frangipani-font">
                        {{ sliderData.header_2 }}
                    </h5>
                    <p class="body-M-bold white-font p">
                        {{ sliderData.content }}
                    </p>
                    <app-button
                        [haveBackground]="true"
                        [pieceOfWood]="'down'"
                        [size]="'S'"
                        class="button"
                        >подробнее</app-button
                    >
                    <div class="count-carousel-items">
                        <div class="h6 white-font">
                            {{ i + 1 }} -
                            {{ (slidersData$ | async)?.length }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </tui-carousel>
        <app-arrow-button
            class="arrow-button-left"
            [arrowDirection]="'tuiIconArrowLeftLarge'"
            (click)="carousel.prev()"
        ></app-arrow-button>
        <app-arrow-button
            class="arrow-button-right"
            [arrowDirection]="'tuiIconArrowRightLarge'"
            (click)="carousel.next()"
        ></app-arrow-button>
    </div>
</header>
<main class="main">
    <div class="service-cards-container">
        <div *ngFor="let serviceCardData of serviceCardsData$ | async">
            <app-service-card
                [image]="serviceCardData.image"
                [header]="serviceCardData.header"
                [content]="serviceCardData.content"
                [buttonText]="serviceCardData.button_text"
            ></app-service-card>
        </div>
    </div>
    <app-products-showcase class="products-showcase"></app-products-showcase>
    <app-contact-us-card class="contact-us-card"></app-contact-us-card>
    <article class="articles-container">
        <header class="header-articles">
            <h1 class="h1">Новые статьи</h1>
            <button class="button-font button-article">Все статьи</button>
        </header>
        <main class="articles-wrapper">
            <article *ngFor="let articleCardData of articlesCards$ | async">
                <app-article-card
                    [img]="articleCardData.image"
                    [header]="articleCardData.header"
                    [content]="articleCardData.content"
                    [date]="{
                        day: articleCardData.day,
                        month: articleCardData.month,
                        year: articleCardData.year
                    }"
                ></app-article-card>
            </article>
        </main>
    </article>
</main>
