@import '../../shared/scss/colors.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1560px;
    height: 700px;
}

.header-image {
    position: absolute;
    top: 0;
    width: 1560px;
    height: 700px;
    background-image: url(../../../assets/img/header-image.png);
}

.wrapper {
    position: relative;
    width: 440px;
    height: 440px;
}

.woodcut-container {
    position: relative;
    width: 440px;
    height: 440px;
}

.woodcut-back {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../../assets/img/woodcut.png);
    filter: blur(1px);
    opacity: 0.6;
    width: 440px;
    height: 440px;
}

.woodcut {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 240px;
    backdrop-filter: blur(3px);
    width: 440px;
    height: 440px;
}

.carousel-container {
    position: absolute;
    top: 0;
    width: 440px;
    height: 440px;
}

.carousel-item {
    position: relative;
    top: 0;
    left: -20px;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    height: 440px;
}

.h5 {
    font-size: 20px;
    line-height: 120%;
}

.p {
    margin-top: 15px;
    width: 354px;
    height: 42px;
    text-align: center;
}

.button {
    margin-top: 36px;
}

.count-carousel-items {
    position: relative;
    top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow-button-left {
    position: absolute;
    top: 370px;
    left: 296px;
    z-index: 5;
}

.arrow-button-right {
    position: absolute;
    top: 370px;
    left: 339px;
}

.h6 {
    font-size: 15px;
    line-height: 130%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 160px 90px 160px;
}

.service-cards-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contact-us-card {
    margin-top: 90px;
}

.articles-container {
    width: 100%;
}

.header-articles {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 100px 0 40px 0;
}

.button-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    border: 1px solid $Gainsboro;
}

.button-article:hover {
    border-color: $Tide;
}

.articles-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
