<ng-container
    *ngrxLet="{
        productsState: productsState$,
        filterData: filterData$
    } as productsData"
>
    <div class="categories">
        <button
            *ngFor="let category of productsData.productsState.categories"
            class="category button-font"
            [routerLink]="['/catalog/' + category]"
            routerLinkActive="selected-category"
        >
            {{ category | translate | ngrxPush }}
        </button>
    </div>
    <div class="characteristics">
        <app-input-range
            *ngFor="let range of productsData.filterData?.ranges"
            [showNumberInput]="showNumberInput"
            [title]="range.title"
            [min]="rangeMin"
            [max]="range.max"
            (getCurrentRange)="getRange($event)"
        ></app-input-range>
        <app-checkbox-list
            *ngFor="
                let characteristic of productsData.filterData?.characteristics
            "
            [choices]="characteristic.values"
            [title]="characteristic.name"
            (getCurrentChosen)="getChosen($event)"
        ></app-checkbox-list>
    </div>
</ng-container>
<button
    class="body-L-bold tide-font reset-wrapper"
    (click)="reset()"
>
    <span>Сбросить фильтры</span>
    <span class="empty"></span>
    <span class="reset"></span>
</button>
