<header class="navigation-container">
    <nav>
        <app-url-segments-visualizer></app-url-segments-visualizer>
    </nav>
</header>
<main class="content">
    <h1 class="h1">
        H1. Длинный заголовок типовой страницы, чтобы настроить интерлиньяж
    </h1>
    <div class="image">
        <img
            [src]="imgs[0]"
            alt="Rectangle1"
            loading="lazy"
        />
    </div>
    <div class="inner-content gap-35">
        <h2 class="h2">
            H2. Многострочный заголовок, длина которого иногда бывает так
            некстати
        </h2>
        <h6 class="h6">
            Эта страница создана для демонстрации блоков и элементов, которые
            используются на сайте, и служит руководством для всех, кто работает
            над ним.
            <br /><br />
            Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться
            приемлемых результатов в различных сочетаниях блоков и элементов.
            Контент-менеджеры и редакторы используют страницу в качестве
            справочника по верстке типовых страниц. Здесь же рассказывается о
            некоторых общих правилах оформления контента.
        </h6>
        <div class="body-M">
            Эта страница создана для демонстрации блоков и элементов, которые
            используются на сайте, и служит руководством для всех, кто работает
            над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы
            добиться приемлемых результатов в различных сочетаниях блоков и
            элементов. Контент-менеджеры и редакторы используют страницу в
            качестве справочника по верстке типовых страниц. Здесь же
            рассказывается о некоторых общих правилах оформления контента.
        </div>
    </div>
    <figure class="image">
        <img
            [src]="imgs[1]"
            alt="Rectangle2"
            loading="lazy"
        />
        <figcaption class="figcaption white-font body-XS">
            подпись на картинке
        </figcaption>
    </figure>
    <div class="inner-content gap-20">
        <h3 class="h3">
            H3. Делаем заголовки нарочито длинными, чтобы убедиться в правильном
            интерлиньяже
        </h3>
        <div class="body-M">
            Текст состоит из некоторого
            <div class="rust-font">количества предложений</div>
            . Одно предложение, даже очень распространённое, сложное, текстом
            назвать нельзя, поскольку текст можно расчленить на самостоятельные
            предложения, а части предложения сочетаются по законам синтаксиса
            сложного предложения, но не текста.
        </div>
    </div>
    <div class="inner-content gap-25">
        <h4 class="h4">
            H4. Текст состоит из некоторого количества предложений. Одно
            предложение, даже очень распространённое, сложное, текстом назвать
            нельзя, поскольку текст можно расчленить на самостоятельные
            предложения.
        </h4>
        <div class="body-M">
            H4. Текст состоит из некоторого количества предложений. Одно
            предложение, даже очень распространённое, сложное, текстом назвать
            нельзя, поскольку текст можно расчленить на самостоятельные
            предложения.
        </div>
        <ul class="body-M list">
            <li>
                <div class="circle"></div>
                <div>
                    ol-ul. Для эффективной деятельности многих видов бизнеса
                    требуется качественное решение логистических задач, и без
                    коммерческого автотранспорта решить их невозможно.
                </div>
            </li>
            <li>
                <div class="circle"></div>
                <div>
                    Лизинг коммерческого автотранспорта предоставит новые
                    возможности для строительных, дорожных, транспортных
                    организаций.
                </div>
            </li>
            <li>
                <div class="circle"></div>
                <div>
                    Благодаря финансовой аренде Вы можете обновить или пополнить
                    парк грузового и пассажирского автотранспорта своего
                    предприятия, не изымая средства из оборота, и при этом
                    использовать налоговые, амортизационные и балансовые льготы.
                </div>
            </li>
        </ul>
    </div>
    <div
        tuiCarouselButtons
        class="image"
    >
        <tui-carousel #carousel>
            <ng-container *ngFor="let img of imgs; index as i">
                <div
                    #tuiItemElem
                    *tuiItem
                >
                    <img
                        [src]="img"
                        alt="Rectangle3"
                        loading="lazy"
                    />
                </div>
            </ng-container>
        </tui-carousel>

        <div class="buttons">
            <app-arrow-button
                class="arrow-button-left"
                [arrowDirection]="'tuiIconArrowLeftLarge'"
                (click)="carousel.prev(); decrementCurrentDot()"
            ></app-arrow-button>
            <app-arrow-button
                class="arrow-button-right"
                [arrowDirection]="'tuiIconArrowRightLarge'"
                (click)="carousel.next(); incrementCurrentDot()"
            ></app-arrow-button>
        </div>
        <div class="pagination-dots gap-20">
            <div
                *ngFor="let _ of imgs; index as i"
                class="dot"
                [class]="i === currentDot ? 'current-dot' : ''"
            ></div>
        </div>
    </div>
    <div class="inner-content gap-30">
        <h5 class="h5">
            H5. <span class="rust-font">Текст состоит</span> из некоторого
            количества предложений. Одно предложение, даже очень
            распространённое, сложное, текстом назвать нельзя, поскольку текст
            можно расчленить на самостоятельные предложения, а части предложения
            сочетаются по законам синтаксиса сложного предложения, но не текста.
        </h5>
        <ol class="body-M list">
            <li>
                <div class="number">1.</div>
                <div>
                    ol-ul. Современная строительная техника - это новые
                    возможности для строительных и ремонтных организаций.
                </div>
            </li>
            <li>
                <div class="number">2.</div>
                <div>
                    Сегодня, когда изменяются масштабы строительства, повышаются
                    требования к его качеству, экономичности и срокам,
                    усложняются объекты и методы работ, от строительной
                    организации требуется большая эффективность в использовании
                    имеющихся производственных мощностей.
                </div>
            </li>
        </ol>
        <div class="body-M">
            Текст состоит из некоторого количества предложений. Одно
            предложение, даже очень распространённое, сложное, текстом назвать
            нельзя, поскольку текст можно расчленить на самостоятельные
            предложения, а части предложения сочетаются по законам синтаксиса
            сложного предложения, но не текста.
        </div>
    </div>
    <div class="inner-content gap-20">
        <h3 class="h3">
            Делаем заголовки нарочито длинными, чтобы убедиться в правильном
            интерлиньяже
        </h3>
        <div class="body-M">
            Текст состоит из некоторого количества предложений. Одно
            предложение, даже очень распространённое, сложное, текстом назвать
            нельзя, поскольку текст можно расчленить на самостоятельные
            предложения, а части предложения сочетаются по законам синтаксиса
            сложного предложения, но не текста.
        </div>
        <div class="download-card-container gap-30">
            <app-download-card
                [fileName]="'Услуги и сервисы'"
                [fileSrc]="'assets/pdf/safety_rules.pdf'"
            ></app-download-card>
            <app-download-card
                [fileName]="'Правила безопасности'"
                [fileSrc]="'assets/pdf/services&facilities.pdf'"
            ></app-download-card>
        </div>
        <div class="body-M">
            Текст состоит из некоторого количества предложений. Одно
            предложение, даже очень распространённое, сложное, текстом назвать
            нельзя, поскольку текст можно расчленить на самостоятельные
            предложения, а части предложения сочетаются по законам синтаксиса
            сложного предложения, но не текста. Текст состоит из некоторого
            количества предложений. Одно предложение, даже очень
            распространённое, сложное, текстом назвать нельзя, поскольку текст
            можно расчленить на самостоятельные предложения.
        </div>
    </div>
    <app-quote-card [quoteData]="quoteData$ | async"></app-quote-card>
    <div class="inner-content gap-30">
        <h6 class="h6">
            Текст состоит из некоторого количества предложений. Одно
            предложение, даже очень распространённое, сложное, текстом назвать
            нельзя, поскольку текст можно расчленить на самостоятельные
            предложения, а части предложения сочетаются по законам синтаксиса
            сложного предложения, но не текста.
        </h6>
        <div class="body-M">
            Текст состоит из некоторого количества предложений. Одно
            предложение, даже очень распространённое, сложное, текстом назвать
            нельзя, поскольку текст можно расчленить на самостоятельные
            предложения, а части предложения сочетаются по законам синтаксиса
            сложного предложения, но не текста.
        </div>
    </div>
</main>
<footer></footer>

<div class="bg-img"></div>
