<app-url-segments-visualizer></app-url-segments-visualizer>
<h1 class="h1 text-catalog">Каталог</h1>
<div class="categories">
    <div
        class="category"
        *ngFor="let category of categories$ | async"
        [style.background-image]="
            'url(' + (introImg$ | async)?.[category] + ')'
        "
        [routerLink]="[category]"
        (mouseover)="arrowButton.setHover(true)"
        (mouseout)="arrowButton.setHover(false)"
        (focus)="arrowButton.setHover(true)"
        (blur)="arrowButton.setHover(false)"
    >
        <h4 class="h4 white-font foreground">
            {{ category | translate | async }}
        </h4>
        <div class="empty"></div>
        <app-arrow-button
            class="foreground"
            #arrowButton
            [arrowDirection]="'tuiIconArrowRightLarge'"
        ></app-arrow-button>
    </div>
</div>
