@use 'colors';
@use 'transitions';

:host {
    .not-show {
        display: none;
    }
}

fieldset {
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        button {
            display: flex;
            align-items: center;

            .mask {
                position: relative;
                width: 12px;
                height: 7px;
                right: 4px;
                mask-size: 100%;
                -webkit-mask-repeat: no-repeat;
                mask-image: url(../../../../../assets/img/tick-for-list.svg);
                mask-repeat: no-repeat;
                background-color: colors.$Kilimanjaro;
                transition:
                    transform transitions.$bg-color-trans,
                    background-color transitions.$bg-color-trans;
            }

            .mask-second-view {
                transform: rotate(180deg);
                transition: transform transitions.$bg-color-trans;
            }
        }

        button:hover {
            .mask {
                background-color: colors.$Rust;
                transition:
                    transform transitions.$bg-color-trans,
                    background-color transitions.$bg-color-trans;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 100%;
                height: 100%;
                text-align: left;
            }
        }
    }
}
