<app-url-segments-visualizer></app-url-segments-visualizer>
<h1 class="h1 text-h1">{{ category | translate | ngrxPush }}</h1>
<main class="main-container">
    <aside class="filter">
        <app-products-filter
            (getFilterData)="onGetFilterData($event)"
        ></app-products-filter>
    </aside>
    <div class="wrapper-product-card-container">
        <ng-container
            *ngrxLet="{
                products: filteredProducts$,
                chunk: productsChunk$,
            } as productsData"
        >
            <div class="product-card-container">
                <app-product-card
                    class="thin"
                    *ngFor="let product of productsData.chunk"
                    [name]="product.name"
                    [price]="product.price"
                    [imgs]="product.photos"
                ></app-product-card>
            </div>
            <app-pagination
                class="pagination"
                [paginationItems]="productsData.products"
                [chunkSize]="9"
                (getCurrentChunk)="getProductsChunk$($event)"
            ></app-pagination>
        </ng-container>
        <hr class="rectangle" />
        <section class="text">
            <h3 class="h3">Двери на заказ</h3>
            <p class="body-M">
                Двери, представляющие из себя вертикальный прямоугольник,
                которые стоят в большинстве построенных квартир, представляют
                собой стандартный образец. Любые другие, отличающиеся по форме и
                размерам, считаются нестандартными и изготавливаются по заказу.
                Наша компания предлагает услугу изготовления межкомнатных дверей
                на заказ с доставкой в Москве и Московской области. Для того
                чтобы определиться с заказом, необходимо чётко представлять
                возможности изготовления дверей. Изготавливаются они следующим
                образом: создаётся каркас из недорогой древесины, который затем
                обшивается панелями МДФ. Панели ламинируются плёнкой любых
                оттенков. Шпонированные варианты представляют собой целостный
                натуральный массив из дерева, покрытый шпоном из МДФ.
                Классические массивные и глухие модели, и лёгкие модели со
                стеклом, могут быть изготовлены из натурального дерева. Если Вам
                необходима модель с эксклюзивным дизайном, можно сделать её по
                специальному проекту. Независимо тот того, в какой ценовой
                категории будут находиться выбранные вами изделия, все они
                выполнены из качественного материала, надёжны и безопасны.
            </p>
        </section>
    </div>
</main>
<app-contact-us-card class="contact-us-card"></app-contact-us-card>
