<div class="categories">
    <button
        *ngFor="let category of categories$ | async"
        class="category button-font"
        [routerLink]="['/catalog/' + category]"
        routerLinkActive="selected-category "
    >
        {{ category | translate | async }}
    </button>
</div>
<div class="сharacteristics">
    <app-input-range
        *ngFor="let range of (filterData$ | async)?.ranges"
        [showNumberInput]="showNumberInput"
        [title]="range.title"
        [min]="rangeMin"
        [max]="range.max"
        (getCurrentRange)="getRange($event)"
    ></app-input-range>
    <app-checkbox-list
        *ngFor="let characteristic of (filterData$ | async)?.characteristics"
        [choices]="characteristic.values"
        [title]="characteristic.name"
        (getCurrentChosen)="getChosen($event)"
    ></app-checkbox-list>
</div>
<button
    class="body-L-bold tide-font reset-wrapper"
    (click)="reset()"
>
    <span>Сбросить фильтры</span>
    <span class="empty"></span>
    <span class="reset"></span>
</button>
