<app-url-segments-visualizer></app-url-segments-visualizer>
<h1 class="h1 h1-text">Доставка и оплата</h1>
<main class="content">
    <img
        class="img"
        src="assets/img/delivery.jpeg"
        alt="delivery"
    />
    <div class="text-container">
        <h6 class="h6">
            Срок пошива комплекта – 10-15 рабочих дней. Доставка от 2-х дней, в
            зависимости от региона. Мы работаем с Boxberry, СDEK и Почтой
            России. Стоимость доставки зависит от региона и рассчитывается
            индивидуально.
        </h6>
        <h6 class="h6 h6-ul-header">
            Вы можете выбрать несколько способов оплаты:
        </h6>
        <ul class="body-M list">
            <li>
                <div class="circle"></div>
                <div>
                    наличными или кредитной картой курьеру (только для
                    курьерской доставки, при условии предоплаты не менее 30% от
                    суммы заказа);
                </div>
            </li>
            <li>
                <div class="circle"></div>
                <div>кредитной картой на сайте;</div>
            </li>
            <li>
                <div class="circle"></div>
                <div>банковским переводом.</div>
            </li>
        </ul>
    </div>
</main>

<div class="background"></div>
